@import "tailwindcss";

:root {
  --background: #05070a;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit), sans-serif;
}

code, pre, .font-mono {
  font-family: var(--font-jetbrains-mono), monospace;
}

/* Custom Cyberpunk Dark Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #05070a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar-thumb:hover {
  background: #00f0ff;
}

/* Custom Text Selection */
::selection {
  background: #00f0ff;
  color: #000000;
}
